.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-question {
  background-color: #0F172A;
  width: 80%;
  height: 35%;
  border-radius: 2rem;
  direction: rtl;
  display: flex;
  justify-content: space-between;
}

.answer-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-button {
  font-family: vazir;
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: start;
  background-color: #0F172A;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  width: 80%;
  border: 4px solid #0c4a6e;
  margin: 0.4rem 0;
  color: #fff;
}

.answer-button:hover {
  background-color: #0e7490;
}

.detail {
  padding: 0 0.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #f0fdfa;
}

.question-section {
  color: #fff;
  padding: 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.question-number {
  background-color: #fff;
  color: #0c4a6e;
  padding: 0 5px;
  border-radius: 40px;
}

.question {
  font-size: 15px;
  color: #fef9c3;
}

.score{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}