

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.box-question {
  background-color: var(--box-color);
  width: 80%;
  height: 35%;
  border-radius: 2rem;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.answer-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-button {
  font-family: vazir;
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: start;
  background-color: var(--primary-color-dark);
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  width: 80%;
  border: 2px solid var(--secondery-color );
  margin: 0.4rem 0;
  color: var(--A-white);
}

.answer-button:hover {
  background-color:  var(--secondery-color );
}

.detail {
  padding: 0 0.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--A-white);
}

.question-section {
  padding: 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.question-number {
  background-color: var(--A-white);
  color:var(--box-color);
  padding: 0 5px;
  border-radius: 40px;
}

.question {
  font-size: 15px;
  color: var(--main-yellow);
}

.score{
  color: var(--A-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 
}

.correct-answer-box{
  width: 30px;
  height: 20px;
  border: 1px solid rgb(145, 143, 143);
  background-color: green;
}

.nextQuestionBtn{
  position: absolute;
  top: 80%;
  right: 5%;
  color: var(--A-white);
  font-size: 30px;
  cursor: pointer;
}

.nextQuestionBtn:hover{
  color:#4ade80;
}



.textOfNextQuestion{
  position: absolute;
  top: 68%;
  right: 4%;
  padding: 0px 5px;
  border-radius: 20px;
  font-size: 12px;
color: var(--A-white);
}

.emoji{
  font-size: 30px;
  margin-top: 5px;
}

.btn{
  font-size: 25px;
  background-color: #fff;
  padding: 5px;
  color: var(--box-color);
  cursor: pointer;
  margin: 20px 5px;
}

