@font-face {
  font-family: "vazir";
  src: local("vazir"), url(./fonts/isans.woff2);
}

*{
  margin: 0;
  padding: 0;
}

:root {
  --background-color:#3eadcf ;
  --second-background-color :#abe9cd ;
  --primary-color-dark : #0F172A ;
  --secondery-color:#0e7490 ;
  --A-white : #fff; 
  --main-yellow : #faf3a0 ;
}

body {
  font-family:vazir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg,  var(--background-color) 0% , var(--second-background-color) 74%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}